<main class="page">
<section class="shopping-cart dark">
<div class="container">
      <div class="bg-light py-3">
      <div class="row">
        <div class="col-md-12 mb-0"><a routerLink="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="items">
                <div class="product">
                  <div class="row">
                    <div class="col-md-3">
                      <img class="img-fluid  d-block image" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-3.jpeg">
                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-5 product-name">
                            <div class="product-name">
                              <a >Women's Yellow Top</a>
                              
                            </div>
                          </div>
                          <div class="col-md-4 quantity">
                            <label for="quantity">Quantity:</label>
                            <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                          </div>
                          <div class="col-md-3 price">
                            <span>₹699.99</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <div class="row">
                    <div class="col-md-3">
                      <img class="img-fluid  d-block image" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-7.jpg">
                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-5 product-name">
                            <div class="product-name">
                              <a>Men's Plain Tshirt</a>
                              
                            </div>
                          </div>
                          <div class="col-md-4 quantity">
                            <label for="quantity">Quantity:</label>
                            <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                          </div>
                          <div class="col-md-3 price">
                            <span>₹1500.00</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <div class="row">
                    <div class="col-md-3">
                      <img class="img-fluid  d-block image" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-1.jpeg">
                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-5 product-name">
                            <div class="product-name">
                              <a >Women's Blouse</a>
                             
                            </div>
                          </div>
                          <div class="col-md-4 quantity">
                            <label for="quantity">Quantity:</label>
                            <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                          </div>
                          <div class="col-md-3 price">
                            <span>₹599.99</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="summary">
                <h3>Summary</h3>
                <div class="summary-item"><span class="text">Subtotal</span><span class="price">₹360</span></div>
                <div class="summary-item"><span class="text">Discount</span><span class="price">₹0</span></div>
                <div class="summary-item"><span class="text">Shipping</span><span class="price">₹0</span></div>
                <div class="summary-item"><span class="text">Total</span><span class="price">₹360</span></div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
              </div>
            </div>
          </div> 
        </div>
      </div>
   </section>
 </main>
